# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

BirdTracker/bin/Debug/BirdTracker.exe
BirdTracker/bin/Debug/BirdTracker.exe.config
BirdTracker/bin/Debug/BirdTracker.pdb
BirdTracker/bin/Debug/eBirdLibrary.dll
BirdTracker/bin/Debug/eBirdLibrary.pdb
BirdTracker/bin/Debug/Microsoft.Maps.MapControl.WPF.dll
BirdTracker/bin/Debug/Microsoft.Maps.MapControl.WPF.xml
BirdTracker/bin/Debug/ThumbNails/Acanthis flammea.jpg
BirdTracker/bin/Debug/ThumbNails/Acanthis hornemanni.jpg
BirdTracker/bin/Debug/ThumbNails/Accipiter cooperii.jpg
BirdTracker/bin/Debug/ThumbNails/Accipiter gentilis.jpg
BirdTracker/bin/Debug/ThumbNails/Accipiter sp..jpg
BirdTracker/bin/Debug/ThumbNails/Accipiter striatus.jpg
BirdTracker/bin/Debug/ThumbNails/Accipitridae sp..jpg
BirdTracker/bin/Debug/ThumbNails/Agelaius phoeniceus.jpg
BirdTracker/bin/Debug/ThumbNails/Anas platyrhynchos.jpg
BirdTracker/bin/Debug/ThumbNails/Anas rubripes x platyrhynchos.jpg
BirdTracker/bin/Debug/ThumbNails/Anas rubripes.jpg
BirdTracker/bin/Debug/ThumbNails/Anatinae sp..jpg
BirdTracker/bin/Debug/ThumbNails/Asio flammeus.jpg
BirdTracker/bin/Debug/ThumbNails/Aythya affinis.JPG
BirdTracker/bin/Debug/ThumbNails/Aythya americana.jpg
BirdTracker/bin/Debug/ThumbNails/Bombycilla cedrorum.jpg
BirdTracker/bin/Debug/ThumbNails/Bombycilla garrulus.jpg
BirdTracker/bin/Debug/ThumbNails/Bonasa umbellus.jpeg
BirdTracker/bin/Debug/ThumbNails/Branta canadensis.JPG
BirdTracker/bin/Debug/ThumbNails/Bubo scandiacus.jpg
BirdTracker/bin/Debug/ThumbNails/Bucephala albeola.JPG
BirdTracker/bin/Debug/ThumbNails/Bucephala clangula.jpg
BirdTracker/bin/Debug/ThumbNails/Bucephala islandica.jpg
BirdTracker/bin/Debug/ThumbNails/Buteo jamaicensis.jpg
BirdTracker/bin/Debug/ThumbNails/Buteo lagopus.jpg
BirdTracker/bin/Debug/ThumbNails/Calcarius lapponicus.jpg
BirdTracker/bin/Debug/ThumbNails/Cardinalis cardinalis.jpg
BirdTracker/bin/Debug/ThumbNails/Certhia americana.jpg
BirdTracker/bin/Debug/ThumbNails/Clangula hyemalis.jpg
BirdTracker/bin/Debug/ThumbNails/Coccothraustes vespertinus.jpg
BirdTracker/bin/Debug/ThumbNails/Colaptes auratus.jpg
BirdTracker/bin/Debug/ThumbNails/Columba livia.jpg
BirdTracker/bin/Debug/ThumbNails/Corvus brachyrhynchos.jpg
BirdTracker/bin/Debug/ThumbNails/Corvus corax.jpg
BirdTracker/bin/Debug/ThumbNails/Cyanocitta cristata.jpg
BirdTracker/bin/Debug/ThumbNails/Cygnus buccinator.jpg
BirdTracker/bin/Debug/ThumbNails/Cygnus olor.jpg
BirdTracker/bin/Debug/ThumbNails/Cygnus sp..jpg
BirdTracker/bin/Debug/ThumbNails/Dryocopus pileatus.jpg
BirdTracker/bin/Debug/ThumbNails/Emberizidae sp. (sparrow sp.).jpg
BirdTracker/bin/Debug/ThumbNails/Eremophila alpestris.jpg
BirdTracker/bin/Debug/ThumbNails/Euphagus carolinus.jpg
BirdTracker/bin/Debug/ThumbNails/Falco columbarius.jpg
BirdTracker/bin/Debug/ThumbNails/Falco peregrinus.jpg
BirdTracker/bin/Debug/ThumbNails/Falco sparverius.jpg
BirdTracker/bin/Debug/ThumbNails/Haemorhous mexicanus.jpg
BirdTracker/bin/Debug/ThumbNails/Haemorhous purpureus.jpg
BirdTracker/bin/Debug/ThumbNails/Haliaeetus leucocephalus.jpg
BirdTracker/bin/Debug/ThumbNails/Junco hyemalis.jpg
BirdTracker/bin/Debug/ThumbNails/Lanius excubitor.jpg
BirdTracker/bin/Debug/ThumbNails/Larinae sp..jpg
BirdTracker/bin/Debug/ThumbNails/Larus argentatus.JPG
BirdTracker/bin/Debug/ThumbNails/Larus delawarensis.jpg
BirdTracker/bin/Debug/ThumbNails/Larus glaucoides.JPG
BirdTracker/bin/Debug/ThumbNails/Larus hyperboreus.jpg
BirdTracker/bin/Debug/ThumbNails/Larus marinus.jpg
BirdTracker/bin/Debug/ThumbNails/Lophodytes cucullatus.jpg
BirdTracker/bin/Debug/ThumbNails/Loxia leucoptera.jpg
BirdTracker/bin/Debug/ThumbNails/Melanerpes carolinus.JPG
BirdTracker/bin/Debug/ThumbNails/Meleagris gallopavo.jpg
BirdTracker/bin/Debug/ThumbNails/Melospiza melodia.jpg
BirdTracker/bin/Debug/ThumbNails/Mergus merganser.jpg
BirdTracker/bin/Debug/ThumbNails/Mergus serrator.jpg
BirdTracker/bin/Debug/ThumbNails/Passer domesticus.jpg
BirdTracker/bin/Debug/ThumbNails/Perdix perdix.jpg
BirdTracker/bin/Debug/ThumbNails/Picidae sp..jpg
BirdTracker/bin/Debug/ThumbNails/Picoides arcticus.jpg
BirdTracker/bin/Debug/ThumbNails/Picoides dorsalis.jpg
BirdTracker/bin/Debug/ThumbNails/Picoides pubescens.jpg
BirdTracker/bin/Debug/ThumbNails/Picoides villosus.jpg
BirdTracker/bin/Debug/ThumbNails/Plectrophenax nivalis.JPG
BirdTracker/bin/Debug/ThumbNails/Poecile atricapillus.jpg
BirdTracker/bin/Debug/ThumbNails/Regulus satrapa.jpg
BirdTracker/bin/Debug/ThumbNails/Sitta canadensis.jpg
BirdTracker/bin/Debug/ThumbNails/Sitta carolinensis.jpg
BirdTracker/bin/Debug/ThumbNails/Spinus pinus.jpeg
BirdTracker/bin/Debug/ThumbNails/Spinus tristis.jpg
BirdTracker/bin/Debug/ThumbNails/Spizella arborea.jpg
BirdTracker/bin/Debug/ThumbNails/Strigiformes sp..jpg
BirdTracker/bin/Debug/ThumbNails/Strix varia.jpg
BirdTracker/bin/Debug/ThumbNails/Sturnus vulgaris.jpg
BirdTracker/bin/Debug/ThumbNails/Toxostoma rufum.jpg
BirdTracker/bin/Debug/ThumbNails/Turdus migratorius.jpg
BirdTracker/bin/Debug/ThumbNails/Zenaida macroura.jpg
BirdTracker/bin/Debug/ThumbNails/Zonotrichia albicollis.jpg
BirdTracker/bin/Debug/ThumbNails/Zonotrichia leucophrys.jpg
BirdTracker/obj/x86/Debug/App.g.cs
BirdTracker/obj/x86/Debug/App.g.i.cs
BirdTracker/obj/x86/Debug/App.g.i.cs
BirdTracker/obj/x86/Debug/App.g.i.cs
BirdTracker/obj/x86/Debug/App.g.i.cs
BirdTracker/obj/x86/Debug/App.g.i.cs
BirdTracker/obj/x86/Debug/BirdTracker.csproj.FileListAbsolute.txt
BirdTracker/obj/x86/Debug/App.g.i.cs
BirdTracker/obj/x86/Debug/MainWindow.g.cs
BirdTracker/obj/x86/Debug/App.g.i.cs
BirdTracker/obj/x86/Debug/BirdTracker.csproj.FileListAbsolute.txt
*.trx
*.pdb
BirdTracker/obj/x86/Debug/App.g.i.cs
BirdTracker/obj/x86/Debug/App.g.i.cs
BirdTracker/obj/x86/Debug/BirdTracker.csproj.FileListAbsolute.txt
BirdTracker/obj/x86/Debug/BirdTracker.csproj.GenerateResource.Cache
BirdTracker/obj/x86/Debug/BirdTracker.csprojResolveAssemblyReference.cache
BirdTracker/obj/x86/Debug/BirdTracker.exe
BirdTracker/obj/x86/Debug/BirdTracker.g.resources
BirdTracker/obj/x86/Debug/BirdTracker.Properties.Resources.resources
BirdTracker/obj/x86/Debug/BirdTracker_MarkupCompile.cache
BirdTracker/obj/x86/Debug/BirdTracker_MarkupCompile.i.cache
BirdTracker/obj/x86/Debug/BirdTracker_MarkupCompile.i.lref
BirdTracker/obj/x86/Debug/BirdTracker_MarkupCompile.lref
BirdTracker/obj/x86/Debug/DesignTimeResolveAssemblyReferences.cache
BirdTracker/obj/x86/Debug/Exclude Librarian/ExcludeListUC.baml
BirdTracker/obj/x86/Debug/Exclude Librarian/ExcludeListUC.g.cs
BirdTracker/obj/x86/Debug/Exclude Librarian/ExcludeListUC.g.i.cs
BirdTracker/obj/x86/Debug/GeneratedInternalTypeHelper.g.cs
BirdTracker/obj/x86/Debug/Generic Sighting Report/GenericBirdSightingsReport.baml
BirdTracker/obj/x86/Debug/Generic Sighting Report/GenericBirdSightingsReport.g.cs
BirdTracker/obj/x86/Debug/Generic Sighting Report/GenericBirdSightingsReport.g.i.cs
BirdTracker/obj/x86/Debug/MainWindow.baml
BirdTracker/obj/x86/Debug/MainWindow.g.i.cs
*.baml
BirdTracker/obj/x86/Debug/Mapping/mapWindow.g.cs
BirdTracker/obj/x86/Debug/Mapping/mapWindow.g.i.cs
BirdTracker/obj/x86/Debug/Pin Map/PinMapWindow.g.cs
BirdTracker/obj/x86/Debug/Pin Map/PinMapWindow.g.i.cs
BirdTrackerTest/bin/Debug/BirdTracker.exe
BirdTrackerTest/bin/Debug/BirdTrackerTest.dll
BirdTrackerTest/bin/Debug/eBirdLibrary.dll
BirdTrackerTest/bin/Debug/Microsoft.Maps.MapControl.WPF.dll
BirdTrackerTest/bin/Debug/Microsoft.Maps.MapControl.WPF.xml
BirdTrackerTest/obj/Debug/BirdTrackerTest.csproj.FileListAbsolute.txt
BirdTrackerTest/obj/Debug/BirdTrackerTest.csprojResolveAssemblyReference.cache
BirdTrackerTest/obj/Debug/BirdTrackerTest.dll
eBirdLibrary/bin/Debug/eBirdLibrary.dll
eBirdLibrary/obj/Debug/eBirdLibrary.csproj.FileListAbsolute.txt
eBirdLibrary/obj/Debug/eBirdLibrary.csprojResolveAssemblyReference.cache
eBirdLibrary/obj/Debug/eBirdLibrary.dll
eBirdLibraryTest/bin/Debug/eBirdLibrary.dll
eBirdLibraryTest/bin/Debug/eBirdLibraryTest.dll
BirdTrackerTest/obj/Debug/BirdTrackerTest.csproj.FileListAbsolute.txt
eBirdLibrary/obj/Debug/eBirdLibrary.csproj.FileListAbsolute.txt
eBirdLibraryTest/obj/Debug/eBirdLibraryTest.csprojResolveAssemblyReference.cache
BirdTracker/obj/x86/Debug/App.g.i.cs
BirdTracker/obj/x86/Debug/MainWindow.g.i.cs
BirdTracker/bin/Debug/BirdTracker.vshost.exe.config
BirdTracker/bin/Debug/ThumbNails/Falco rusticolus.jpg
BirdTracker/bin/Debug/ThumbNails/Larus fuscus.jpg
BirdTracker/bin/Debug/ThumbNails/Loxia curvirostra.jpg
BirdTracker/bin/Debug/ThumbNails/Passerella iliaca.jpg
BirdTracker/bin/Debug/ThumbNails/Pinicola enucleator.jpg
BirdTracker/bin/Debug/ThumbNails/Poecile hudsonicus.jpg
eBirdLibraryTest/obj/Debug/eBirdLibraryTest.dll
BirdTracker/bin/Debug/ThumbNails/Aix sponsa.jpg
BirdTracker/bin/Debug/ThumbNails/Aythya marila.jpg
BirdTracker/bin/Debug/ThumbNails/Anas clypeata.jpg
BirdTracker/bin/Debug/ThumbNails/Catharus guttatus.jpg
BirdTracker/bin/Debug/ThumbNails/Falco sp. (small falcon sp.).jpg
BirdTracker/bin/Debug/ThumbNails/Megascops asio.jpg
*.jpg