<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="BirdTracker.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <BirdTracker.Properties.Settings>
            <setting name="MAIN_WINDOW_TOP" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="MAIN_WINDOW_LEFT" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="MAIN_WINDOW_HEIGHT" serializeAs="String">
                <value>420</value>
            </setting>
            <setting name="MAIN_WINDOW_WIDTH" serializeAs="String">
                <value>866</value>
            </setting>
            <setting name="MAIN_WINDOW_STATE" serializeAs="String">
                <value>""</value>
            </setting>
            <setting name="EXCLUDE_LIST" serializeAs="String">
                <value />
            </setting>
            <setting name="NAME_LIBRARY" serializeAs="String">
                <value />
            </setting>
            <setting name="PIN_MAP_HEIGHT" serializeAs="String">
                <value>400</value>
            </setting>
            <setting name="PIN_MAP_WIDTH" serializeAs="String">
                <value>600</value>
            </setting>
            <setting name="PIN_MAP_TOP" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="PIN_MAP_LEFT" serializeAs="String">
                <value>0</value>
            </setting>
        </BirdTracker.Properties.Settings>
    </userSettings>
</configuration>